/*
    Document   : lookup
    Created on : Nov 29, 2012, 10:21:36 AM
    Author     : r8f
    Description:
        Purpose of the stylesheet follows.
*/

div.browse_wrapper > div{
  float: left;
}

div.browse_wrapper > div > label {
  float: left;
}

div.browse_wrapper > div + a > img {
  padding-top: 2px;
}

.browse-loading {
  left: 46%;
  position: absolute;
  top: 45%;
  z-index: 1000;
  background-color: rgba(35, 35, 35, 0);
  background-image: url('../img/loading.gif?1');
  background-position: center center;
  background-repeat: no-repeat;
  height: 100px;
  opacity: .9;
  width: 48px;
}


