/*
    Document   : lookup
    Created on : Nov 29, 2012, 10:21:36 AM
    Author     : Huan and Jordan
    Description:
        Purpose of the stylesheet follows.
*/

div.browse_wrapper > div{
  float: left;
}

div.browse_wrapper > div > label {
  float: left;
}

div.browse_wrapper > div + a > img {
  padding-top: 2px;
}

.browse-loading {
  left: 30%;
  position: absolute;
  top: 30%;
  z-index: 1000;
  background-color: rgba(35, 35, 35, 0);
  background-image: url('../img/loading.gif?2');
  background-position: center center;
  background-repeat: no-repeat;
  height: 128px;
  opacity: .9;
  width: 128px;
}

#lookup_content_wrapper table a{
  text-decoration: underline;
  color: #4242DD;
}
