/*
    Document   : lookup
    Created on : Nov 29, 2012, 10:21:36 AM
    Author     : r8f
    Description:
        Purpose of the stylesheet follows.
*/

div.browse_wrapper > div{
  float: left;
}

div.browse_wrapper > div > label {
  float: left;
}

div.browse_wrapper > div + a > img {
  padding-top: 2px;
}



